body {
    margin: 0px;
    height: 100vh;
    font-family: Arial, sans-serif;
  }

.page-content {
  margin-top: 10vw;
  text-align: center;
}

.navbar-test {
  background-color: #ffffff;
  color: #ffffff;
}

.avatar {
  border-radius: 25%;
  border: solid 1px grey;
}

.about-column {
  font-size: 25px;
  font-family: sans-serif;
  justify-content: baseline;
  border: none
}

#text-about {
  margin-top: 15%;
}