body {
    margin: 0px;
    height: 100vh;
    font-family: Arial, sans-serif;
  }

.page-content {
  margin-top: 20vw;
  text-align: center;
}

.navbar-test {
  background-color: #ffffff;
  color: #ffffff;
}